@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Fira+Code & family= Rubik & display=swap');

* { padding: 0; margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Fira Code', monospace;
}

:root {
    --preto: #000000;
    --branco: #ffffff;
    --azul-escuro: #1f16e5;
    --azul-claro: #1eedff;
}

body {
  width: 100%;
  height: 100vh;
}

.header {
  background-color: var(--azul-escuro);
  width: 100%;
}

.title, .subtitle {
  padding: 20px 0;
  color: var(--branco);
  font-family: 'Rubik', sans-serif;
}

.aboutMe {
  width: 80%;
  margin: 0 auto 30px auto;
  text-align: justify; 
  text-justify: auto;
}

.knowledges {
  width: 80%;
  margin: auto;
  display:flex;
  flex-direction: column;
  color: var(--preto);
  background-color: var(--azul-claro);
}

.knowledge-columns {
  display: flex;
  flex-direction: row;
}

.knowledges .subtitle {
  color: var(--preto);
}

.projects a {
  text-decoration: none;
  color: var(--azul-escuro);
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
  }

  .contact-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contact-images img {
    width: 150px;
    margin: 0 10px;
  }

  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 5s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 9s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 11s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height: 40px;
      min-height: 40px;
    }
    .content {
      height: 30vh;
    }
    h1 {
      font-size: 24px;
    }
  }